{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>FiSci Technoslogy</title>
        <link rel="stylesheet" type="text/css" href="{% static "/static/main.css" %}" />
    </head>
    <body>
        <div id="header">
            <h1>Intelligent Stock Recommendation powered by FiSci</h1>
        </div>
        <div class="frame">
            <form method="get">
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>

        {% if args %}
        <div class="args">
            <pre>{{ args }}</pre>
        </div>
        {% endif %}

        {% if err %}
        <div class="error">
            {{ err|safe }}
        </div>
        {% endif %}



        <div class="frame">
            {% if recommendation %}
            <div id='header'>
                <h1>Our Recommendation and Analysis:</h1>
            </div>
            {% endif %}
            <div id='header'>
                <h2>Recommendation: {{recommendation}}</h2>
            {% if bag_of_words %}
            <div id='header'>
                <h2>Bag of Words Analysis</h2>
            </div>
            <div class="bag of words">
                <table>
                    <tr>
                        <td></td>
                        <td>Twitter:</td>
                        <td>NYTimes:</td>
                        <td>Seeking Alpha:</td>
                    </tr>
                    {% for values in bag_of_words %}
                    <tr>
                        {% for v in values %}
                        <td>{{v}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            {% if monte_carlo %}
            <div id='header'>
                <h2>Monte Carlo Analysis</h2>
            </div>
            <div class = 'monte carlo'>
                {% load static %}
                <img src="{% static 'twitter.png' %}" alt="Scatterplot Analysis"/>
                <table>
                    <tr>
                        <td></td>
                        <td>Value_1:</td>
                        <td>Value_2:</td>
                    </tr>
                    {% for values in monte_carlo %}
                    <tr>
                        {% for v in values %}
                        <td>{{v}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            {% if naive_bayes %}
            <div id='header'>
                <h2>Naive Bayes Analysis</h2>
            </div>
            <div class = 'naive bayes'>
                <table>
                    <tr>
                        <td></td>
                        <td>Twitter:</td>
                        <td>NYTimes:</td>
                        <td>Seeking Alpha:</td>
                    </tr>
                    {% for values in naive_bayes %}
                    <tr>
                        {% for v in values %}
                        <td>{{v}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
    </body>
</html>
