{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>FiSci Technology</title>
        <link rel="stylesheet" type="text/css" href="{% static "/static/main.css" %}" />
    </head>
    <body>
        <div id="header">
            <h1>Intelligent Stock Recommendation powered by FiSci</h1>
        </div>
        <div class="frame">
            <form method="get">
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>

        {% if args %}
        <div class="args">
            <pre>{{ args }}</pre>
        </div>
        {% endif %}

        {% if err %}
        <div class="error">
            {{ err|safe }}
        </div>
        {% endif %}



        <div class="frame">
            {% if result != None %}
            <div class="results">Results:
                <div class="recommendations & numerical_analysis">
                    {{ result }}
                </div>
                {% if number %}
                <div class = 'numerical_analysis'>
                    {{ number }}
                </div>
                {% endif %}
                {% if image %}
                <div class = 'graphical_analysis'>
                    {% load static %}
                    <img src="{% static 'image_1.png' %}" alt="Graphical Analysis_1"/>
                    <img src="{% static 'image_2.png' %}" alt="Graphical Analysis_2"/>
                    <img src="{% static 'image_3.png' %}" alt="Graphical Analysis_3"/>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </body>
</html>
